{% extends "landing/base.html" %}
{%block content%}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Login</h2>
        <hr>
        {%if messages %}
        {{message.tags}}
        <div class="alert alert-primary" role="alert">
            {%for msg in messages %}
            {{msg}}
            {%endfor%}
        </div>
        {%endif%}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">User Name</label>
              <input type="text" name="Username" class="form-control" id="exampleInputEmail1" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <p>Don't have account <a href="{%url 'register' %}"><stong>Register</strong></a></p>
    </form>

</div>

{%endblock content%}